.button {
  background-color: #083B73;
  border: #083B73;
}
.button:hover {
  background-color: #4c6fbf; /* azul más oscuro cuando pasás el mouse */
}
h2{
  text-align: center;
}
.card-text {
color: #083B73;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontal */
  text-align: center;  /* centra texto */
}