.titulo-principal {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .titulo-seccion {
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
  }
  
  .subtitulo {
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
  }
  
  .parrafo {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  